<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="link">
            <a href="/login">Логин</a>
            <a href="/register">Регистрация</a>
            <a href="/profile/:id">Профайл</a>
            <a href="/admin">Админ</a>
            <a href="/new">Новый блог</a>
            <a href="/edit">Редактирование блога</a>
            <a href="/detailPage">Детальная страница</a>
            <a href="/user">Пользователь</a>
        </div>
        <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                    <img src="/images/Manager.png" alt="">
                </div>
                <div class="main-report">
                    <h3>Обзор Report Manager от Webix</h3>
                </div>
                <p> Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.</p> 
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его подробнее.</p>
                <div class="main-content-items">
                    <p>
                        <img src="/images/icons/calendar.png" alt="" srcset="">
                        12.06.2023
                    </p>
                    <p>
                        <img src="/images/icons/eye.png" alt="">
                        21
                    </p>
                    <p>
                        <img src="/images/icons/Shape.png" alt="">
                        4
                    </p>
                    <p>
                        <img src="/images/icons/Path.png" alt="">
                        Веб-разработка
                    </p>
                    <p>
                        <img src="/images/icons/Vector.png" alt="">
                        Nast1289
                    </p>
                </div>
                <div class="main-content-header">
                    <img src="/images/metod.png" alt="">
                </div>
                <div class="main-report">
                    <h3>Разработчики изобрели методологию высокоскоростного программирования</h3>
                </div>
                <p> Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.</p> 
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его подробнее.</p>
                <div class="main-content-items">
                    <p>
                        <img src="/images/icons/calendar.png" alt="" srcset="">
                        12.06.2023
                    </p>
                    <p>
                        <img src="/images/icons/eye.png" alt="">
                        21
                    </p>
                    <p>
                        <img src="/images/icons/Shape.png" alt="">
                        4
                    </p>
                    <p>
                        <img src="/images/icons/Path.png" alt="">
                        Веб-разработка
                    </p>
                    <p>
                        <img src="/images/icons/Vector.png" alt="">
                        Nast1289
                    </p>
                </div>
            </div>  
            <div class="categories">
                <h3>Категории</h3>
                <%category.forEach(categ =>{ %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%})%>
            </div>
        </div>
    </div>

</body>
</html>