<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                    <img src="/images/Manager.png" alt="">
                </div>
                <div class="main-report">
                    <h3>Обзор Report Manager от Webix</h3>
                    <div class="main-report-menu">
                        <p>
                            <img src="/images/icons/dot.png" alt="">
                            Еще
                        </p>
                        <div class="main-report-btn">
                            <a href="/edit"><button>Редактировать</button></a>
                            <button>Удалить</button>
                        </div>
                    </div>
                </div>
                <p> Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.</p> 
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его подробнее.</p>
                <div class="main-content-items">
                    <p>
                        <img src="/images/icons/calendar.png" alt="" srcset="">
                        12.06.2023
                    </p>
                    <p>
                        <img src="/images/icons/eye.png" alt="">
                        21
                    </p>
                    <p>
                        <img src="/images/icons/Shape.png" alt="">
                        4
                    </p>
                    <p>
                        <img src="/images/icons/Path.png" alt="">
                        Веб-разработка
                    </p>
                    <p>
                        <img src="/images/icons/Vector.png" alt="">
                        Nast1289
                    </p>
                </div>
                <div class="main-content-header">
                    <img src="/images/metod.png" alt="">
                </div>
                <div class="main-report">
                    <h3>Разработчики изобрели методологию высокоскоростного программирования</h3>
                </div>
                <p> Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.</p> 
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его подробнее.</p>
                <div class="main-content-items">
                    <p>
                        <img src="/images/icons/calendar.png" alt="" srcset="">
                        12.06.2023
                    </p>
                    <p>
                        <img src="/images/icons/eye.png" alt="">
                        21
                    </p>
                    <p>
                        <img src="/images/icons/Shape.png" alt="">
                        4
                    </p>
                    <p>
                        <img src="/images/icons/Path.png" alt="">
                        Веб-разработка
                    </p>
                    <p>
                        <img src="/images/icons/Vector.png" alt="">
                        Nast1289
                    </p>
                </div>
            </div>  
    <div class="profile categories">
        <h3>Профиль</h3>
        <div class="profile-img">
            <img src="/images/avatar.png" alt="">
        </div>
        <div class="profile-info">
            <p>Елнур Сеитжанов</p>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <button class="edit-btn">Редактировать</button>
            <button class="edit-btn logoout-btn">Выход</button>
        </div>
    </div>
</body>
</html>