.main{
    padding: 20px 40px 50px;
    background-color: #fff;
    min-height: 70vh;
    display: flex;
    justify-content: space-between; 
}
.main-content-header h1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-content img{
    padding-top: 30px;
}
.main-content-header p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}
.main-content-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 10px;
}

.main-content-items img{
    width: 15px;
    height: 15px;
}
.main-content p{
    padding-top: 25px;
}
.main-content a{
    text-decoration: none;
    color: black;
}
.categories{
    width: 20%;
    height: 20%;
    border-right: 1px solid rgba(31, 31, 31, .1);
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    padding-right: 30px;
    border: 2px solid #00000013
}
.categories h3{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}
.categories a{
    font-size: 16px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #007BFF;
    font-weight: 500;
}
.categories a:hover{
    border-bottom: 2px solid rgb(111, 146, 202);
    transition: .3s;
}
.main-content{
    width: 75%;
    padding: 15px 30px;
    box-sizing: border-box;
}

.main-report{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}
.main-report h3{
    font-size: 28px;
    font-weight: 600;
}